body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.8em;
  padding: 20px;
  background-color: #E8E3E4;
}

.navbar {
  display: flex;
  background-color: #FCFCFC;
  align-items: center;
  border-style: ridge;
  border-color: #9DA8A6;
}

.navbar-nav > ul.nav-items {
  align-items: center;
}

.navbar-nav {
  display: inline-flex;
}

.navbar-brand > a{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2em;
  color: black;
}

.navbar .glyphicon {
  font-size: 1.4em;
  color: #313B39;
  border-style: solid;
  padding: 0.2em;
  border-width: thin;
  border-radius: 0.2em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.30), 0 2px 4px rgba(0,0,0,0.22);
}

.navbar .glyphicon-log-out {
  align-self: flex-end;

}

.signup_container {
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.signin_container {
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
