.navbar {
  background-color: #C1E7FF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #2D2F4C;
}

.navbar-inverse .navbar-brand {
    color: #2D2F4C;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #5692B8;
}

.signup_container {
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.signin_container {
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.MessageBar {
  position: fixed;
  width: 100%;
  bottom: 0;
}
